<!DOCTYPE html>
<html lang="ar">

<head>
<title>الرئيسية</title>
<%- include styles %>
</head>


<body class="light-blue-skin">
<%- include header %>
<main class="content container-fluid mt-10">
<div  class="row">
<%- include side_ad%>



<!-- body -->
<div class="col-xl-10 body">




</div>
<!-- /body -->




</main>
<%- include footer %>
<%- include scripts %>
 
</body>

</html>
